/* --- Home --- */
.header {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.header-actions {
	display: flex;
	column-gap: 24px;
}

.header__button {
	display: flex;
    align-items: center;
	column-gap: 8px;
}

.header__message {
	text-align: start;
}

.photos-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
}

.thumb {
	display: block;
	margin-bottom: 30px;
    filter: opacity(.8);
	outline: 5px solid rgba(255, 255, 255, 0);
	transition: all .4s ease;
}

.thumb:hover {
    filter: opacity(1);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .4);
}

.thumb a {
	display: block;
}

.thumb img {
    display: block;
	width: 100%;
    border-radius: 4px;
}

/* --- Paginacion --- */
.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination__button {
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, .2);
	transition: all .3s ease;
}

.pagination__button:hover {
	border: 1px solid #fff;
	text-decoration: none;
}

.empty-photo-msg {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

.empty-photo-msg > p {
	margin-bottom: 8px;
}