* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Slabo 27px', serif;
	background: #232931;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Slabo 27px', serif;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
}

.izquierda {
	float: left;
}

.derecha {
	float: right;
}

/* --- Header ---*/

header {
	margin: 40px 0;
	font-size: 20px;
	text-align: center;
}

/* --- FOTOS --- */
.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.header-title {
	font-size: 2rem;
}

.header-cta {
	display: flex;
	column-gap: 8px;
}

.photos-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 24px;
}

.thumb {
	display: block;
	margin-bottom: 30px;
	outline: 5px solid rgba(255, 255, 255, 0);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
	transition: all .3s ease;
}

.thumb:hover {
	outline: 5px solid rgba(255, 255, 255, 1);
}

.thumb a {
	display: block;
}

.thumb img {
	vertical-align: top;
	width: 100%;
}

/* --- Single Foto --- */
.foto {
	padding-top: 40px;
	display: block;
	width: 100%;
	margin: auto;
	max-width: 500px;
	text-align: center;
}

.foto img {
	width: 100%;
	vertical-align: top;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
	margin-bottom: 30px;
}

.foto .texto {
	max-width: 500px;
	margin-bottom: 30px;
}

.photo-footer {
	display: flex;
	justify-content: center;
	column-gap: 24px;
}

.back-button {
	display: flex;
	column-gap: 12px;
	align-items: center;
	max-width: max-content;
	padding: 5px 10px;
	border-radius: 50px;
	font-size: 16px;
	border: 1px solid rgba(255, 255, 255, .2);
	transition: all .3s ease;
}

.back-button:hover {
	border: 1px solid #fff;
	text-decoration: none;
}

/* --- Footer --- */

footer .copyright {
	text-align: center;
	color: rgba(255, 255, 255, .5);
	font-size: 16px;
	padding: 15px 0;
}

/* --- Paginacion --- */

.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination-button {
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, .2);
	transition: all .3s ease;
}

.pagination-button:hover {
	border: 1px solid #fff;
	text-decoration: none;
}

/* --- Formulario --- */
.formulario {
	max-width: 500px;
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
}

.formulario label {
	display: block;
	margin-bottom: 10px;
}

.formulario .error {
	border: 1px solid red;
	padding: 30px;
	margin-bottom: 30px;
}

.formulario input[type="text"],
.formulario input[type="file"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario textarea {
	width: 100%;
	margin-bottom: 30px;
	color: #fff;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario textarea {
	padding: 10px;
	background: none;
	font-family: 'Slabo 27px', serif;
	border: 1px solid rgba(255, 255, 255, .2);
}

.formulario textarea {
	min-height: 76px;
	max-height: 150px;
	max-width: 100%;
	min-width: 100%;
}

.formulario textarea:focus {
	border: 1px solid rgba(255, 255, 255, .5);
}

.formulario .submit {
	display: inline-block;
	text-align: center;
	color: #fff;
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, .2);
	background: none;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.formulario .submit:hover {
	border: 1px solid rgba(255, 255, 255, 1);
}

.form-buttons {
	display: flex;
	justify-content: end;
	align-items: center;
	column-gap: 24px;
}

.preview-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-preview {
	display: none;
	border: 1px dashed rgba(255, 255, 255, .2);
	padding: 16px;
	margin-bottom: 24px;
	max-width: 400px;
	width: 90%;
}

.sign_up-title {
	text-align: center;
}

.contenedor.sign_up {
	margin-top: 64px;
}

.sign_up-cta {
	display: flex;
	justify-content: center;
}

.sign_up-msg {
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed white;
	border-radius: 4px;
	padding: 30px;
	margin-bottom: 30px;
	max-width: 500px;
}

.login-title {
	text-align: center;
}

.contenedor.login {
	margin-top: 64px;
}

.login-cta {
	display: flex;
	justify-content: center;
}

.login-msg {
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed white;
	border-radius: 4px;
	padding: 30px;
	margin-bottom: 30px;
	max-width: 500px;
}

.header-actions {
	display: flex;
	column-gap: 24px;
}

.welcome-message {
	text-align: start;
}

.text-center {
	text-align: center;
}