* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Inter', sans-serif;
	background: #181d27;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

p {
	color: hsl(213, 15%, 76%);
}

.text-center {
	text-align: center;
}

.wrapper {
	max-width: 1000px;
	width: 90%;
	margin: 24px auto;
}

.form-label {
	display: block;
	margin-bottom: 10px;
}

.form-field {
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 8px;
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;
	color: #fff;
	background: none;
	font-family: 'Inter', sans-serif;
}

textarea {
	min-height: 76px;
	max-height: 150px;
	max-width: 100%;
	min-width: 100%;
}

textarea:focus {
	border: 1px solid rgba(255, 255, 255, .5);
}

input[type="file"] {
	border: 1px dashed rgba(255, 255, 255, .2);
}

.button {
    border-radius: 6px;
    border: 1px solid rgb(71, 85, 105);
    padding: 8px 16px;
    max-width: max-content;

    background-color: #334155;
    display: flex;
    column-gap: 8px;
	color: #fff;
    align-items: center;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
	font-weight: 500;
    font-size: 14px;
    transition: all .3s ease;
}

.button:hover {
    border: 1px solid #94A3B8;
    text-decoration: none;
}

.button.button-outlined {
	background-color: transparent;
}

/* --- Footer --- */

footer .copyright {
	text-align: center;
	color: rgba(255, 255, 255, .5);
	padding: 15px 0;
}


/* --- Formulario --- */
.formulario {
	max-width: 500px;
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
}

.form-buttons {
	display: flex;
	justify-content: end;
	align-items: center;
	column-gap: 24px;
}

.preview-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px 0;
}

.image-preview {
	display: none;
	border-radius: 8px;
	max-width: 400px;
	width: 90%;
}

.form__actions {
	display: flex;
	justify-content: center;
}

.error-message {
	border-radius: 4px;

	margin-left: auto;
	margin-right: auto;
	padding: 24px;
	margin-bottom: 30px;
	max-width: 500px;

	background-color: #7f1d1d;
	color: #f87171;
	text-align: center;
	font-weight: 500;
}